# A Notebook to Predict wether the passenger was transported to another dimension

## Import Dependencies

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from xgboost import XGBClassifier
from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

## Load the Data

In [2]:
df = pd.read_csv("Data/train.csv")
test_data = pd.read_csv("Data/test.csv")

In [3]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
test_data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

## Encode Categorical Data

In [5]:
df['Destination'].value_counts()

TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: Destination, dtype: int64

In [6]:
le = LabelEncoder()
df['Destination'] = le.fit_transform(df['Destination'].astype(str))
test_data['Destination'] = le.fit_transform(test_data['Destination'].astype(str))

In [7]:
le = LabelEncoder()
df['HomePlanet'] = le.fit_transform(df['HomePlanet'].astype(str))
test_data['HomePlanet'] = le.fit_transform(test_data['HomePlanet'].astype(str))

In [8]:
le = LabelEncoder()
df['CryoSleep'] = le.fit_transform(df['CryoSleep'])
test_data['CryoSleep'] = le.fit_transform(test_data['CryoSleep'])

In [9]:
le = LabelEncoder()
df['VIP'] = le.fit_transform(df['VIP'])
test_data['VIP'] = le.fit_transform(test_data['VIP'])

In [10]:
df[['Deck','Num', "Side"]] = df.Cabin.str.split("/",expand=True)
test_data[['Deck','Num', "Side"]] = test_data.Cabin.str.split("/",expand=True)

In [11]:
le = LabelEncoder()
df['Deck'] = le.fit_transform(df['Deck'].astype(str))
test_data['Deck'] = le.fit_transform(test_data['Deck'].astype(str))

In [12]:
le = LabelEncoder()
df['Side'] = le.fit_transform(df['Side'].astype(str))
test_data['Side'] = le.fit_transform(test_data['Side'].astype(str))

In [13]:
le = LabelEncoder()
df['Transported'] = le.fit_transform(df['Transported'])

In [14]:
del df['Cabin']
del test_data['Cabin']

del df['Num']
del test_data['Num']

del df['PassengerId']
del df['Name']

In [15]:
df.head()

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Side
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1,5,1
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,0,1
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,0,1
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1,5,1

In [16]:
test_data.head()

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Deck,Side
0,0013_01,0,1,2,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,6,1
1,0018_01,0,0,2,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,5,1
2,0019_01,1,1,0,31.0,0,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,2,1
3,0021_01,1,0,2,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,2,1
4,0023_01,0,0,2,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez,5,1

## Handle Missing Values

In [17]:
df.isnull().sum()

HomePlanet        0
CryoSleep         0
Destination       0
Age             179
VIP               0
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
Deck              0
Side              0
dtype: int64

In [18]:
df["Age"] = df["Age"].fillna(df["Age"].median())
test_data["Age"] = test_data["Age"].fillna(test_data["Age"].median())

In [19]:
df["FoodCourt"] = df["FoodCourt"].fillna(df["FoodCourt"].mean())
test_data["FoodCourt"] = test_data["FoodCourt"].fillna(test_data["FoodCourt"].mean())

In [20]:
df["RoomService"] = df["RoomService"].fillna(df["RoomService"].mean())
test_data["RoomService"] = test_data["RoomService"].fillna(test_data["RoomService"].mean())

In [21]:
df["ShoppingMall"] = df["ShoppingMall"].fillna(df["ShoppingMall"].mean())
test_data["ShoppingMall"] = test_data["ShoppingMall"].fillna(test_data["ShoppingMall"].mean())

In [22]:
df["Spa"] = df["Spa"].fillna(df["Spa"].mean())
test_data["Spa"] = test_data["Spa"].fillna(test_data["Spa"].mean())

In [23]:
df["VRDeck"] = df["VRDeck"].fillna(df["VRDeck"].mean())
test_data["VRDeck"] = test_data["VRDeck"].fillna(test_data["VRDeck"].mean())

In [24]:
df["VRDeck"] = df["VRDeck"].fillna(df["VRDeck"].mean())
test_data["VRDeck"] = test_data["VRDeck"].fillna(test_data["VRDeck"].mean())

In [25]:
df["VRDeck"] = df["VRDeck"].fillna(df["VRDeck"].mean())
test_data["VRDeck"] = test_data["VRDeck"].fillna(test_data["VRDeck"].mean())

In [26]:
test_data.isnull().sum()

PassengerId      0
HomePlanet       0
CryoSleep        0
Destination      0
Age              0
VIP              0
RoomService      0
FoodCourt        0
ShoppingMall     0
Spa              0
VRDeck           0
Name            94
Deck             0
Side             0
dtype: int64

In [27]:
print("Shape of Train Data: ", df.shape)
df.head()

Shape of Train Data:  (8693, 13)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Deck,Side
0,1,0,2,39.0,0,0.0,0.0,0.0,0.0,0.0,0,1,0
1,0,0,2,24.0,0,109.0,9.0,25.0,549.0,44.0,1,5,1
2,1,0,2,58.0,1,43.0,3576.0,0.0,6715.0,49.0,0,0,1
3,1,0,2,33.0,0,0.0,1283.0,371.0,3329.0,193.0,0,0,1
4,0,0,2,16.0,0,303.0,70.0,151.0,565.0,2.0,1,5,1

In [28]:
print("Shape of Test Data: ", test_data.shape)
test_data.head()

Shape of Test Data:  (4277, 14)

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Deck,Side
0,0013_01,0,1,2,27.0,0,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,6,1
1,0018_01,0,0,2,19.0,0,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,5,1
2,0019_01,1,1,0,31.0,0,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,2,1
3,0021_01,1,0,2,38.0,0,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,2,1
4,0023_01,0,0,2,20.0,0,10.0,0.0,635.0,0.0,0.0,Brence Harperez,5,1

## Train-Test Split

In [29]:
predict = "Transported"
df_train = df.drop(columns=[predict])
y = df[[predict]].values.ravel()
X_train, X_test, y_train, y_test = train_test_split(df_train, y, test_size=0.33, random_state=42)

## Build the Model

In [31]:
model = XGBClassifier(learning_rate = 0.01, max_depth=4)
model.fit(X_train, y_train)

C:\Users\adnan\anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[01:04:03] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.01, max_delta_step=0, max_depth=4,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [32]:
y_pred = model.predict(X_test)
Y_pred_temp = model.predict_proba(X_test)[:, 1]
print('Classification Report')
print(classification_report(y_test, y_pred))

Classification Report
              precision    recall  f1-score   support

           0       0.80      0.74      0.77      1424
           1       0.76      0.82      0.79      1445

    accuracy                           0.78      2869
   macro avg       0.78      0.78      0.78      2869
weighted avg       0.78      0.78      0.78      2869

In [ ]:
plt.hist(Y_pred_temp)

## Test The Model

In [ ]:
results_df = pd.DataFrame(columns = ["PassengerId", "Transported"])
count = 0
for index, row in test_data.iterrows():
    print(count)
    count = count + 1
    row = row.to_frame()
    row = row.T
    id = row["PassengerId"]
    row = row.drop(["PassengerId", "Name"], axis = 1)
    prediction = model.predict_proba(row)[:, 1]
    if prediction < 0.70:
        prediction = False
    else:
        prediction = True
    to_append = [list(id)[0], prediction]
    a_series = pd.Series(to_append, index = results_df.columns)
    results_df = results_df.append(a_series, ignore_index=True)

In [ ]:
print("Shape of Train Data: ", results_df.shape)
results_df.head()

In [ ]:
results_df.dtypes

In [ ]:
results_df["Transported"].value_counts()

In [ ]:
results_df.to_csv("Results.csv", index = False, encoding='utf-8')